.banner{
    background-image: url('./../../../../assets/Images/viewDetails/banner.jpg');
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    
    
}